/**/.idea/workspace.xml
/tmp*
/.cov_profile
/.idea/checkstyle-idea.xml
/npm/node_modules/
/.idea/markdown.xml
/.idea/google-java-format.xml
/.idea/highlightedFiles.xml
/.idea/jpa-buddy.xml
/.idea/active-tab-highlighter.xml
